html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 32 16 32 16;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	vertical-align: baseline;
    font-weight: 600;
}

.text-center{
    text-align: center
}

.title-main{
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    font-weight: 700;
}

.quebra-de-linha{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.font-size{
    font-size: 20px;
}

.color-blue{
    color: #227df2;
    font-size: 32px;
}

.background-blue{
    background-color: #3662FF;
    color: #fefeff;
    font-size: 20px;
    padding: 10px;
    line-height: 40px;
    
}
.style-ul{
    line-height: 40px;
    text-decoration: underline;
}

.background-black{
    background-color: black;
    color: #fefeff;
    padding: 10px;
}
